{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<section class="max-w-4xl mx-auto my-10 px-5 py-10 text-sm flex flex-col gap-4 bg-[#F7F7F7] rounded-3xl shadow-lg shadow-blue-700 border border-sky-500">
    <h1 class="text-center text-2xl font-bold mb-5">Mentions légales</h1>

    <h2 class="text-lg font-semibold">Éditeur du site</h2>
    <p>
        Nom du site : Innovshop<br>
        Responsable : Société Innovshop<br>
        Email : contact@innovshop.fr
    </p>

    <h2 class="text-lg font-semibold mt-4">Hébergement</h2>
    <p>
        Hébergeur : Alwaysdata<br>
        Adresse : Alwaysdata, 91 rue du Faubourg Saint-Honoré, 75008 Paris, France<br>
    </p>

    <h2 class="text-lg font-semibold mt-4">Propriété intellectuelle</h2>
    <p>
        L’ensemble des contenus présents sur ce site (textes, images, logos) est protégé par le
        droit de la propriété intellectuelle. Toute reproduction est interdite sans autorisation.
    </p>
</section>
{% endblock %}
